In [82]:
#imports:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
import datetime

In [83]:
#file import:
raw_data = pd.read_csv("C:\\Users\\ohad\\Desktop\\11\\financials.csv")

In [84]:
#first glance at data (for myself)
raw_data.head(5)

,customer_id,medicare_id,first_name,last_name,street_addr,city,zipc,phone_num,email,cc_num,transaction_amount,transaction_date
0,1,3NC8KP9GU96,Gillian,McLean,"Studio 0, Martin keys",Herbertbury,B9 4ZU,0121 496 0879,zlloyd@example.org,3528001953574659,428.78,2018-01-18T19:48:16
1,2,9QC5VR2WK40,Robert,Davis,290 Smith estates,South Aimee,IG11 9LH,0115 4960260,tuckermathew@example.com,3586368768543057,33.17,1994-01-16T07:02:27
2,3,2AT8HN5XD91,Damian,Farrell,"Flat 0, Brenda causeway",Port Joannaside,OL21 9NP,01632 960978,marccameron@example.net,3589325461730727,158.51,1998-10-18T00:35:07
3,4,6MU5-EY5-TG14,Chloe,Williams,70 Janice bypass,East Judith,BR12 8EJ,+44131 496 0802,slaterhannah@example.net,4103-7997-0901-4513,453.72,1996-06-21T02:14:49
4,5,6DP2EM7XV13,Dorothy,Webb,"Flat 6, Marian centers",Angelatown,N8H 1UL,01632 9607623328,zhodgson@example.net,60428779700,12.17,1996-03-07T08:25:57

In [85]:
#for reruns if needed - avoiding multiple improt for big files
data = raw_data.copy()

In [86]:
#insert here any name of function defined in the section below you would like to run:
data_types_list_to_check = ['CCN_search','medicare_id_search']

In [87]:
# functions defintion, define here any additional function to run (for different data types):
def medicare_id_search(df):
    
    df['is_medicare_id_found'] = ((df['transaction_date']  >= '2020-01-01' ) & df['medicare_id'].str.contains(r'[A-Z0-9]{4}\-[A-Z0-9]{3}\-[A-Z0-9]{4}', regex=True) |
                               (df['transaction_date']  < '2020-01-01' ) & df['medicare_id'].str.contains(r'[0-9]{9}[A-Z]', regex=True)
                               ).astype(int)
    return df


def CCN_search(df):
    
    df['is_CCN_found'] =  (df['cc_num'].str.contains(r'[0-9]{19}|[0-9]{18}|[0-9]{17}|([0-9]{4}\-?\_?\s?[0-9]{4}\-?\_?\s?[0-9]{4}\-?\_?\s?[0-9]{4})', regex=True)).astype(int)
    return df
    
    
def search_selected_sensitive_data(df, data_types_list_to_check):

    for t in data_types_list_to_check:
        exec(t+'(data)')
    return df

In [97]:
data = search_selected_sensitive_data(data,data_types_list_to_check)

C:\Users\ohad\AppData\Local\Temp\ipykernel_16184\3400996039.py:12: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df['is_CCN_found'] =  (df['cc_num'].str.contains(r'[0-9]{19}|[0-9]{18}|[0-9]{17}|([0-9]{4}\-?\_?\s?[0-9]{4}\-?\_?\s?[0-9]{4}\-?\_?\s?[0-9]{4})', regex=True)).astype(int)

In [92]:
#creating a data frame to later put the results into
results = pd.DataFrame({
    'Date_of_check' : [ datetime.datetime.now().strftime("%D %H:%M:%S")], 
})

In [98]:
for t in data_types_list_to_check:
    changed = t.replace('search' , 'found')
    results[changed] = data['is_'+changed].sum()

CCN_found
medicare_id_found

In [100]:
#write results locally as a csv file
results.to_csv("C:\\Users\\ohad\\Desktop\\11\\results.csv", sep=',', index=True, encoding='utf-8')